extends layout.pug

block content
 div(style={"display" : "flex", "justify-content": "center", "margin-top": "30px"})
   div
     h1(class="title")= name 
     table(class='table table-striped table-hover')
       tr 
        td name
        td= name 
       tr 
        td price 
        td 
       tr 
        td 24 hour 
        td 
       tr 
        td 7 day 
       tr 
        td 1 month
        td
       tr 
        td volume 
        td
       tr 
        td circulating supply 
        td
 script.
   arr1 = `!{arr}`;
   window.onload = function() {
        let data1 = JSON.parse(arr1)
        console.log(data1)
  		var chart = new CanvasJS.Chart("chartContainer", {
  			animationEnabled: true,
  			title: {
  				text: "Hourly Average CPU Utilization"
  			},
  			axisX: {
  				title: "Time"
  			},
  			axisY: {
  				title: "Percentage",
  				suffix: "%",
  				includeZero: true
  			},
  			data: [{
  				type: "line",
  				name: "CPU Utilization",
  				connectNullData: true,
                xValueType: "number",
                dataPoints: data1
  			}]
  		});
  		chart.render();
  		};


 div(id="chartContainer" style={"height": "300px", "width": "100%"})
 script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
       
       