extends layout.pug

block content
  p You're logged in as #{user.firstName} #{user.lastName}
  br
  h4 Favorite Coins 
    each val, key in coinPortfolio
     div(style={'display':'flex', 'margin-bottom': '20px'})
      img(src=`../public/crypto-icons/${key.toLowerCase()}.svg` style={'width':'25px', 'margin-right': '20px'})
      h5= key + ': ' + val
      br